################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestOne/.vs
/TestOne/Calculator/bin/Debug/net8.0
/TestOne/Calculator/obj
